<section class="home">
    <div class="title-home">
        <h1>ASESORÍAS CONTABLES Y TRIBUTARIAS</h1>
    </div>

    <div class="services-1">
        <div class="box">
            <h2>Servicios contables</h2>
            <p>Mejores prácticas empresariales a tu alcance.</p>
        </div>
        <div class="box">
            <h2>Asesoría financiera</h2>
            <p>Asesoramiento integral en contabilidad y finanzas.</p>
        </div>
        <div class="box">
            <h2>Planificación financiera</h2>
            <p>Optimización de procesos contables eficientes.</p>
        </div>
    </div>
</section>

<section class="section-box-2">
  <div class="container-box-2">
    <div class="box-2">
      <img src="http://localhost:3000/images/professional-icon-vector.jpg" style="width: 50px; height: 50px;">
      <p>Profesiones con experiencia en contabilidad financiera.</p>
    </div>
    <div class="box-2">
      <img src="http://localhost:3000/images/compromiso.jpg" style="width: 50px; height: 50px;">
      <p>Comprometidos con el bienestar del usuario.</p>
    </div>  
    <div class="box-2">
      <img src="http://localhost:3000/images/eficientes.png" style="width: 50px; height: 50px;">
      <p>Eficientes y puntuales, comprometidos con tu necesidad.</p>
    </div>
  </div>
</section>


<footer>
  <div class="container-footer">
    <div class="footer-box">
      <h3>Síguenos en redes sociales</h3>
      <ul>
        <li class="li-img-footer">
          <a href="https://wa.me/573137502693" target="_blank">
            <img src="/images/whatsapp.jpg" alt="WhatsApp" />
          </a>
        </li>
        <li class="li-img-footer">
          <a href="https://www.instagram.com/contables.ecg/" target="_blank">
            <img src="/images/logo-ig.avif" alt="Instagram" />
          </a>
        </li>
        <li class="li-img-footer">
          <a href="https://www.facebook.com/profile.php?id=61563365072527" target="_blank">
            <img src="/images/facebook-logo.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-box">
      <h3>Ciudad Bolívar</h3>
        <p><strong>Dirección:</strong> Kape oficina 103</p>
        <p><strong>Cel:</strong> 3137502693</p>
        <p><strong>Email:</strong> contables.ecg@gmail.com</p>
    </div>

    <div class="footer-box">
      <p>&copy; Contables ECG</p>
      <p>&copy; Hecho por Haiver Hernandez. 2025</p>
    </div>
  </div>
</footer>


