<section class="section-mision">
  <h1 class="titles">¿Quiénes somos?</h1>
    <div class="box-mision">
        <p>Somos una empresa de asesoría contable y tributaria comprometida con el crecimiento y la tranquilidad financiera 
          de nuestros clientes. Brindamos soluciones integrales y personalizadas a personas naturales, emprendedores y pequeñas empresas, 
          ayudándoles a tomar decisiones informadas y cumplir con sus obligaciones fiscales de manera eficiente y oportuna.</p>
        <p>Nuestra experiencia combina el conocimiento técnico contable con una visión estratégica del negocio.</p>
        <p>Más que una empresa contable, somos un aliado en el camino hacia la estabilidad y el éxito financiero.</p>
    </div>
</section>

<footer>
  <div class="container-footer">
    <div class="footer-box">
      <h3>Síguenos en redes sociales</h3>
      <ul>
        <li class="li-img-footer">
          <a href="https://wa.me/573137502693" target="_blank">
            <img src="/images/whatsapp.jpg" alt="WhatsApp" />
          </a>
        </li>
        <li class="li-img-footer">
          <a href="https://www.instagram.com/contables.ecg/" target="_blank">
            <img src="/images/logo-ig.avif" alt="Instagram" />
          </a>
        </li>
        <li class="li-img-footer">
          <a href="https://www.facebook.com/profile.php?id=61563365072527" target="_blank">
            <img src="/images/facebook-logo.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-box">
      <h3>Ciudad Bolívar</h3>
        <p><strong>Dirección:</strong> Kape oficina 103</p>
        <p><strong>Cel:</strong> 3137502693</p>
        <p><strong>Email:</strong> contables.ecg@gmail.com</p>
    </div>

    <div class="footer-box">
      <p>&copy; Contables ECG</p>
      <p>&copy; Hecho por Haiver Hernandez. 2025</p>
    </div>
  </div>
</footer>